<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1>CREAR</h1>

    <form method="POST" action="http://localhost:3001/user" >

        <label for="email">Email: </label>
        <input type="email" id="email" name="email">

        <label for="name">Name: </label>
        <input type="text" id="name" name="name">

        <label for="pass">Password: </label>
        <input type="password" id="pass" name="pass">

        <button type="submit">Enviar</button>

    </form>

    <h1>UPDATE</h1>

    <form method="POST" action="http://localhost:3001/user/update" >

        <label for="email">Email: </label>
        <input type="email" id="email" name="email">

        <label for="name">Name: </label>
        <input type="text" id="name" name="name">

        <label for="pass">Password: </label>
        <input type="password" id="pass" name="pass">

        <button type="submit">Enviar</button>

    </form>

</body>
</html>